name: Deploy to EC2

on:
  push:
    branches: [ feature/video-shortform ]  # 브랜치 이름

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts
    
    - name: Deploy to EC2
      run: |
        ssh -i ~/.ssh/id_rsa ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
          cd ~/1team-project/shorts-api
          git checkout feature/video-shortform
          git pull origin feature/video-shortform
          docker-compose down
          docker-compose build
          docker-compose up -d
          docker-compose logs --tail=50
        EOF